html {
    background-color: #6884b3;
}

h1{
    font-family: 'Poppins', sans-serif;
    position: fixed;
    left: 32%;
}

@media(max-width: 600px) {
    #results {
        position: fixed;
        top: 40%;
        left: 35.5%;
        width: 25%;
    }

    #scoreboard {
        position: fixed;
        top: 50%;
        left: 35.5%;
        width: 25%;
    }
    
}

#buttons {
    position: fixed;
    top: 28%;
    left: 37%;
}

#rock {
    size: 10px;
}

#paper {
    size: 10px;
}

#scissors {
    size: 10px;
}

#results {
    position: fixed;
    top: 40%;
    left: 35.5%;
    width: 25%;
}

#scoreboard {
    position: fixed;
    top: 43%;
    left: 35.5%;
    width: 25%;
}